<head>
    <style>
        body { 
            background-image: url('https://modo-phinf.pstatic.net/20210128_250/1611840761659JrHuN_JPEG/mosa1v2N3W.jpeg?type=w720');
            background-repeat: no-repeat;
            background-size: cover;
        }
        #mint{
            color: rgb(24, 246, 243);
        }
    </style>
</head>
<body>
    {% extends 'index.html' %}
    {% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <span class="display-1 d-block", id='mint'>404 Error</span>
                <div class="mb-4 lead", id='mint'><h2>여기는<br>세상의 모서리</h2></div>
                <a href="/" class="btn btn-link", id='mint'>홈으로 돌아가기</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>